In [1]:
import pandas as pd
import os
import shutil

image_dir = '/home/golden/Projects/gazelle_identification/gazelle/data/extracted/gazelle_head'  
output_dir = '/home/golden/Projects/gazelle_identification/gazelle/data/individual_gazelles'
label_csv = '/home/golden/Projects/gazelle_identification/gazelle/data/gazelle_photo_IDs.csv'

In [2]:
#get all the images
images = [im[2] for im in os.walk(image_dir)][0]
print('example image file: ', images[0])

example image file:  2017_Mar22_0D2A4449.0.jpg

In [3]:
image_labels = pd.read_csv(label_csv)
#clean dataframe
image_labels = image_labels.dropna(axis=0, how='any')
image_labels.head()

                 Photo      GROUP         ID
0  2017_Mar11_0D2A0728  Group0001  SeratF001
1  2017_Mar11_0D2A0729  Group0001  SeratF001
2  2017_Mar11_0D2A0730  Group0001  SeratF001
3  2017_Mar11_0D2A0731  Group0001  SeratF002
4  2017_Mar11_0D2A0732  Group0001  SeratF002

In [4]:
for image in images:
    name = image.split(os.extsep)[0]
    label = image_labels[image_labels['Photo'] == name]['ID']
    try:
        label = label[label.keys()[0]]
    except:
        #there is no label
        continue
    #make identity folder
    output_path = os.path.join(output_dir, label)
    image_path = os.path.join(image_dir, image)
    os.makedirs(output_path, exist_ok=True)
    shutil.copy(image_path, output_path)

In [6]:
name

'2017_Mar22_0D2A4278'

In [7]:
label

'OryxM005'

In [72]:
x = label.get('ID')[x.keys()[0]]

In [73]:
print(x)

OryxM005